{{ define "body" }}

  <header>
    {{ partial "header.html" . }}
  </header>

  <main>
    <h2>Custom template for Page 1</h2>
    <p>The layout needs to be specified in the front matter.</p>
    <h3>{{ .Title }}</h3>
    {{ .Content }}
  </main>

  <footer>
    {{ partial "footer.html" . }}
  </footer>

{{ end }}
