{
  "extends": "airbnb-base",
  "parserOptions": {
   "ecmaVersion": 6,
   "sourceType": "module"
  },
  "plugins": ["compat"],
  "env": {
    "browser": true
  },
  "rules": {
    "compat/compat": "warn"
  }
}
