{{ define "body" }}
{{ $section := (.Site.GetPage "/sections/home").Resources.Match "section*" }}

  <header>
    {{ partial "header.html" . }}
  </header>

  <main>
    <p>{{ (index $section 00).Content }}</p>
  </main>

  <footer>
    {{ partial "footer.html" . }}
  </footer>

{{ end }}
